@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700;6..12,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: rgb(228, 226, 226);
  padding: 0 2rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.navbar {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

span {
  font-weight: bold;
}

.home-heading {
  text-align: center;
  margin-bottom: -30px;
}

.product-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
  padding-bottom: 100px;
}

.card {
  width: 250px;
  /* height: 250px; */
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.product-img {
  height: 80px;
}

.product-title {
  font-size: 0.9rem;
  text-align: center;
}

.product-btn {
  border: none;
  outline: none;
  background-color: rgb(103, 13, 103);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.product-btn:hover {
  background-color: rgb(167, 13, 167);
}

/* cart */

.cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 100px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: white;
  padding: 10px 50px;
}

.cart-img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.cart-title {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

.cart-price {
  width: 100px;
  text-align: center;
}

.cart-btn {
  border: none;
  outline: none;
  background-color: rgb(103, 13, 103);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
